@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@600&family=Playfair+Display&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Crimson Text", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 15px 30px;
  background-color: rgb(0, 0, 0);
  color: rgb(150, 17, 17);
  z-index: 1000;
}
nav input {
  /* background-color: rgb(255, 255, 255); */
  background-color: #3b3b3b;
  color: #ffffff;
  border-color: rgb(150, 17, 17);
  padding: 4px;
}

input:focus {
  outline: none;
}

nav h1 {
  font-size: 2.1rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

nav p {
  font-size: 1.4rem;
}

main {
  padding-top: 100px;
}

.selectSection {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: 1px solid rgba(150, 17, 17, 0.349);
  background-color: rgb(0, 0, 0);
}

#selectContainer {
  padding: 20px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0;
  gap: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

#selectContainer select {
  background-color: #3b3b3b;
  color: #ffffff;
  border-color: rgb(150, 17, 17);
  padding: 4px;
}

#selectContainer h3 {
  letter-spacing: 0.2rem;
}

.selectButtons {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}

.selectButtons button {
  display: none;
  background-color: #3b3b3b;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  border-color: rgb(150, 17, 17);
  border-radius: 5px;
  width: max-content;
  padding: 5px;
  font-size: 1.07rem;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  gap: 25px;
  background-color: black;
  padding: 100px 25px 25px 25px;
}

/* Style for the entire show content */
.showContent {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-color: rgb(150, 17, 17);
  box-shadow: 2px 1px 10px rgb(150, 17, 17);
  background-image: linear-gradient(to top, black, rgb(63, 63, 63));
  width: 100%;
  height: auto;
}

.showContent:hover {
  box-shadow: 3px 2px 15px rgb(150, 17, 17);
  transform: scale(1.01);
  transition: 0.3s;
}

/* Style for the image container */
.imageContainer {
  flex: 1;
  padding: 20px;
}

/* Style for the show image */
.imageContainer img {
  /* max-width: 450px; */
  min-height: 100%;
  max-height: 550px;
  min-width: 50%;
  width: 100%;
  border-radius: 5px;
}

/* Style for the text container */
.textContainer {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* Style for the show name */
.textContainer h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: rgb(235, 179, 179);
  padding: 0 5px;
  font-weight: 900;
}

/* Style for the show summary */
.showSummary p {
  font-size: 1.1rem;
  padding: 0 10px;
  margin-bottom: 15px;
  color: white;
}

/* Style for the show details list */
.showDetails ul {
  list-style: none;
  padding: 0 10px;
}

/* Style for each detail item */
.showDetails li {
  font-size: 1rem;
  margin-bottom: 5px;
  color: white;
}

/* Style for the strong elements within details */
.showDetails strong {
  font-weight: bold;
  margin-right: 5px;
  /* color: rgb(150, 17, 17); */
  color: rgb(235, 179, 179);
}

/* Show details - genre etc.. */
.showDetails {
  padding: 0;
}

input {
  border: none;
  background-color: #f2f3f3;
  border-bottom: 1px solid gray;
  font-size: 25px;
}

#tvmaze {
  text-align: center;
}

/* Css for episodes section on DOM */

#rootForEpisodes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: black;
}

.boxForEpisodes {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-color: rgb(150, 17, 17);
  box-shadow: 2px 1px 10px rgb(150, 17, 17);
  background-image: linear-gradient(to top, black, rgb(63, 63, 63));
  width: 100%;
  height: auto;
  padding: 15px 0;
  color: white;
}

.boxForEpisodes:hover {
  box-shadow: 3px 2px 15px rgb(150, 17, 17);
  transform: scale(1.01);
  transition: 0.3s;
}

.boxForEpisodes h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: rgb(235, 179, 179);
  padding: 0 5px;
  font-weight: 900;
}

.boxForEpisodes img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
}

.boxForEpisodes p {
  font-size: 1.1rem;
  padding: 0 10px;
  margin-bottom: 10px;
  color: white;
}

#tvmaze {
  background-color: black;
  color: white;
}
#tvmaze h5 {
  color: white;
  padding: 10px;
  font-size: 1.1rem;
}

/* Media query for responsive design */

@media only screen and (max-width: 640px) {
  .selectSection {
    top: 140px;
  }
  #root {
    padding-top: 160px;
  }

  #rootForEpisodes .boxForEpisodes:first-child {
    margin-top: 100px;
  }

  #rootForEpisodes {
    display: block;
    width: 100%;
    padding-top: 180px;
  }
  #rootForEpisodes .boxForEpisodes {
    margin-bottom: 25px;
  }

  #selectContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
  }
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    height: 130px;
    text-align: center;
  }

  nav h1 {
    font-size: 1.8rem;
    padding-bottom: 5px;
  }

  nav p {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  nav input {
    font-size: 1rem;
  }

  .selectSection {
    top: 130px;
  }

  #selectContainer {
    top: 130px;
    margin: 10px;
  }

  #selectContainer select {
    max-width: 150px;
  }
  #selectContainer h3 {
    font-size: 1.1rem;
  }

  #root {
    width: 100%;
    display: block;
  }

  .showContent {
    flex-direction: column;
    margin: 35px auto;
  }

  .imageContainer,
  .textContainer {
    display: flex;
    justify-content: center;
  }
  .imageContainer img {
    /* max-width: 200px; */
    height: auto;
    min-height: 100%;
  }
  #rootForEpisodes .boxForEpisodes:first-child {
    margin-top: 60px;
  }
}
